*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px;
    align-items: center;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    

}

.header__img img {
width: 300px;
height: 150px;
}

.header__links_container{
    width: 50%;
    

}

.uno{
    list-style: none;
    padding: 10px;
    background: blueviolet;
}

.dos{
    list-style: none;
    padding: 10px;
    background: blueviolet;
}

.tres{
    list-style: none;
    padding: 10px;
    background: blueviolet;
}

.cuatro{
    list-style: none;
    padding: 10px;
    background: blueviolet;
}

a{
    text-decoration: none;
    color: aqua;
}

ul.header__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}


.card{
    display : flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 50px;

    
}

.parrafo{
    text-align: justify;
    
    
}

.card2{
    display : flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 50px;

}


.font--lg{
    font-size: 50px;
    padding: 10px;
    background: blueviolet;
}

.font--md{
    font-size: 25px;
    padding: 10px;
    background: rgb(226, 125, 43);
    border-radius: 20px;
}

.font--sm{
    font-size: 10px;
    padding: 10px;
    background: blueviolet;
    
}

.position-rigth{
    order: 1;
}

button{
    font-family: "Dancing Script", cursive;
    border: none;
    background: rgb(234, 237, 236);
    color: rgb(11, 11, 9);
    padding: 20px;
    margin-left: 20px;
    border-radius: 15px;
    font-weight: 800;
    letter-spacing: 12px;
}

button:hover{
    
}

input:focus{
    border: 5px solid red;
}
